.square {
    width: 100%;
    position: relative;
}

.square:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.square .content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.square .content .block {
    border: 2px solid;
    height: 10px;
}
