@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu&display=swap');

.App {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(220, 220, 220);
    font-family: 'Ubuntu', cursive;
}

.logo {
    font-family: 'Dancing Script', cursive;
    text-transform: lowercase;
}

.welcome .title {
    font-size: 3rem;
}
.welcome .title .logo {
    font-size: 4rem;
}

.builder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
