.App {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(220, 220, 220);
}

.builder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
